body {
  background-image: url(../img/about.jpg);
background-repeat: no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

h1 {
  text-align: center;
  font-size: 60px;
  font-family: monospace;
  color: white;
}

h3 {
  text-align: center;
  font-size: 20px;
  font-family: monospace;
}

a {
  text-shadow: 25px 25px 9px black;
  color: white;
}
