body {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

h1 {
  text-align: center;
  font-size: 60px;
  font-family: monospace;
  color: white;
}

h2 {
  text-align: center;
  font-size: 40px;
  font-family: monospace;
  color: white;
}
h3 {
  text-align: center;
  font-size: 20px;
  font-family: monospace;
  color: white;
}

a {
  text-shadow: 25px 25px 9px black;
  color: white;
  align-items: center;
  margin-top: 500px;
}

.margin {
margin-top: 400px;
margin-bottom: 500px;
}
